[2012-07-08 06:43] tnunamak opened #1 "Grunt error"
I'm new to all of this but wanted to let you know I hit an error following the very direct instructions on the grunt step:

[code]

[2012-07-08 06:49] CaryLandholt commented on #1
Try updating [Node.js](http://nodejs.org/) to the latest version (v0.81).
I noticed some issues prior to the upgrade.

Also, I've made some significant changes in the last few hours.  Unless you've also made changes, you should go ahead and pull the latest.

Please let me know if you're still having trouble.  Thanks

[2012-07-08 06:56] CaryLandholt commented on #1
I just verified on both Mac OS X Lion and Windows 7 with Node.js v0.8.1 everything seems to be working.
I did this with new repo clones.

[2012-07-08 07:10] tnunamak commented on #1
Me too. I upgraded everything and it worked. I think I might have had an environment issue. Thanks a bunch!

[2012-07-08 07:10] #1 closed, assigned to CaryLandholt

[2012-07-08 07:11] CaryLandholt commented on #1
Glad to hear - thanks!

[2012-09-19 18:37] Iristyle opened #2 "Curious about usage of domReady!"
I'm not sure that [bootstrap.coffee](https://github.com/CaryLandholt/AngularFun/blob/master/src/scripts/bootstrap.coffee) serves much of a purpose, but wasn't sure if you ran into a particular issue?

Waiting on domReady! should not be necessary to bootstrap the app, as the ngApp directive already hooks the jQuery document ready and inits the app.  See
- [Getting rid of main blog post](http://blog

[2012-09-19 18:54] samvtran commented on #2
As an aside, the file you mention is [angular.suffix](https://github.com/angular/angular.js/blob/master/src/angular.suffix) I believe.

I removed the bootstrap from a personal project without any adverse effects either (so far anyway) after realizing everything was getting bootstrapped twice on my end too. Actually, it looks like [index.template](https://github.com/CaryLandholt/AngularFun/blob/mas

[2012-09-20 03:08] CaryLandholt commented on #2
@samvtran Yes, you are right - I'm not using the ng-app attribute, so I'm not experiencing double-bootstrapping.

@Iristyle I had to bootstrap the app manually (not use ng-app attribute) since I was loading many files asynchronously via RequireJS.  Angular begins wiring up the Angular goodness before all of my files are loaded, leading to unexpected behavior.  For all intents and purposes the dom

[2012-09-20 13:24] Iristyle commented on #2
Roger that... it all makes sense now ;0  Obviously I missed that you weren't using `ng-app`.  I've taken bits and pieces from a variety of sources, so also forgot that you weren't running your dev build through r.js.

My build has some variations on yours.  I figured I'd go ahead as part of a dev build and perform the same r.js concatenation, so what a dev sees is closer to what will be in product

[2012-09-20 19:49] CaryLandholt commented on #2
Thanks @Iristyle - I'll have to try the SourceMap functionality.  :)

[2012-10-03 17:41] hego opened #3 "grunt copy makes broken png files"
When I run the `grunt bootstrap` command, all the subcommands execute successfully and I can view the result in the browser. The png files are also copied to the right location, but they seem to get broken by grunt's copy command.

Is anyone else having this issue?

[2012-10-03 19:56] CaryLandholt commented on #3
Can you share what you mean by broken?  Can you open the copied pngs in an image editor?
Do other images load properly?

Thanks

[2012-10-03 22:38] hego commented on #3
The resulting images are corrupt, so I cannot open them in an editor. The copied files are also approx. twice the size (24912 byte for glyphicons-halflings.png, should be 13826). I then tried it with a jpg, same problem.

[2012-10-04 02:37] #2 closed, assigned to nobody

[2012-10-04 03:12] CaryLandholt commented on #3
@hego Found the bug!  The grunt:copy task was using `grunt.file.write` to copy the file to its destination.
I changed this to `fs.readFileSync` and the bug was fixed.

The only change to AngularFun is in the package.json file referencing the new version of [grunt-hustler](https://github.com/CaryLandholt/grunt-hustler), where the bug fix is made.

Please get latest and give it a go.

Thanks,
Cary

[2012-10-04 03:12] #3 closed, assigned to nobody

[2012-11-20 05:47] msimonc opened #5 "Run issue on Windows"
Hi Cary,

Had to use: grunt.cmd to compile, but that didn't work when Running it.
Also tried from Cygwin.

Trace is:

J:\ProjJS\AngularFun-master>grunt.cmd server
Running "server:app" (server) task
20 Nov 16:43:50 - [nodemon] v0.6.23
20 Nov 16:43:50 - [nodemon] watching: J:\ProjJS\AngularFun-master
20 Nov 16:43:50 - [nodemon] starting `coffee.cmd ./server.coffee --watch ./routes.coffee`
CreateProc

[2012-11-20 05:58] CaryLandholt commented on #5
@msimonc I'm assuming you have all the prerequisites installed.
- [node.js](http://nodejs.org/) (minimum version 0.8.1)
- npm (should be installed as part of node.js)
- CoffeeScript package `npm install -g coffee-script`
- Grunt package `npm install -g grunt`
- `npm install` to install all of the packages referenced in package.json

By the way, I just committed some updates to the project within t

[2012-11-20 06:01] msimonc commented on #5
My bad:  npm install -g coffee-script

Thanks!

[2012-11-20 06:01] #5 closed, assigned to nobody

[2012-11-20 06:01] CaryLandholt commented on #5
Great!  Thanks for checking it out @msimonc

[2012-12-03 06:23] talgiat opened #6 "app crashes when running grunt server"
getting this on trying to run the app:
Running "server:app" (server) task
3 Dec 01:22:26 - [nodemon] v0.6.23
3 Dec 01:22:26 - [nodemon] watching: /Users/talgiat/Dropbox/Dev/Projects/AngularFun
3 Dec 01:22:27 - [nodemon] starting `coffee ./server.coffee --watch ./routes.coffee`
3 Dec 01:22:27 - [nodemon] app crashed - waiting for file changes before starting...
execvp(): No such file or directory

[2012-12-03 14:11] CaryLandholt commented on #6
Hi @talgiat,

Sorry to hear you're having trouble.

Please verify that you have satisfied the prerequisites.

## Prerequisites
- Must have [Git](http://git-scm.com/) installed
- Must have [node.js (at least v0.8.1)](http://nodejs.org/) installed with npm (Node Package Manager)
- Must have [CoffeeScript](https://npmjs.org/package/coffee-script) node package installed globally.  `npm install -g coff

[2012-12-03 15:43] talgiat commented on #6
Ah, my bad, didn't have the CoffeeScript package installed.

works like charm now.

Thanks !

[2012-12-03 16:17] CaryLandholt commented on #6
Great - I'll close the issue.
Please let me know if you encounter anything else.

[2012-12-03 16:17] #6 closed, assigned to nobody

[2012-12-19 03:12] CaryLandholt opened #14 "Create security branch"
Add security-related features to the branch.
Start with ClickJacking defense (https://www.owasp.org/index.php/Clickjacking_Defense_Cheat_Sheet).

[2012-12-19 03:25] #14 closed, assigned to CaryLandholt

[2012-12-24 10:14] ghost opened #15 "Comments"
Hmmm....I see your to-do list includes a screencast. Maybe an addendum to this could be comments in the code that explain what's happening?

Cheers

[2012-12-24 16:21] CaryLandholt commented on #15
Lol, @timothybone,

You got me on that one.  I will improve.

Cary

[2012-12-25 01:22] CaryLandholt commented on #15
@timothybone I have created a [documentation](https://github.com/CaryLandholt/AngularFun/tree/documentation) branch with a stab at greatly improving overall documentation of the project.

I started with the [grunt.js](https://github.com/CaryLandholt/AngularFun/blob/documentation/grunt.js) file.

I'm certainly not done, but any advice would be much appreciated.

Thanks,
Cary

[2012-12-25 08:00] ghost commented on #15
Cool! I'll take a look at it. This project is great by the way

[2012-12-25 08:00] #15 closed, assigned to nobody

[2013-01-03 19:54] ranmacar opened #16 "problems with jasmine test (on windows?)"
Hi Cary,
Trying to run Jasmine tests, but having trouble.
The first ssue is a missing domReady.js in /dist/scripts/libs after building with grunt.
When I manually supply a domReady.js, it hangs on twitterfy.js calling angular - for some reason it is loaded before angular is in the test runner. I tried adding a dependency to main.coffee, but don't really know how to use require.js

The runner then

[2013-01-04 05:35] CaryLandholt commented on #16
Hi @ranmacar,

It does look like something is broken.
I'm working on a fix right now but won't have anything until the weekend sometime.

Sorry about that.

Cary

[2013-01-05 04:32] CaryLandholt commented on #16
@ranmacar,

The tests should work fine now.  Since we don't really need the capabilities of RequireJS for the tests, I've gone ahead and removed it.

Include your spec scripts in the runner.html file.

Please let me know if this helps.

Thanks,
Cary

[2013-01-05 04:32] #16 closed, assigned to nobody

[2013-01-05 14:27] ranmacar commented on #16
Thanks! Will look at it and tell you. Amazing job on the whole project by the way, learning a ton of angular from it. Thanks a lot :)

[2013-01-07 09:26] ranmacar commented on #16
Sorry, didnt get to it sooner. Works great now.

[2013-01-18 19:32] ejain opened #17 "Cache busting for script, style and template files"
In addition to concatenating and minimizing files, it would be useful to have file checksums inserted into file names. This allows caching without constant revalidation. For example, scripts.min.js would be renamed to scripts-1234567890abcdef.min.js. There may be existing grunt tasks to help with this.

[2013-01-18 22:25] knalli opened #18 ""reload" task incompatible?"
I'm currently not sure what exactly here is wrong.

At first, I had adapted the configuration w/ live reload into my setup, but this does not work. After that, I had checked out now the AngularFun repo, but the live reload won't work either.

I'm using the latest Chrome (stable/release channel, aka 24 atm). The Chrome Extension "LiveReload" is 2.0.9.

The browser logged this

[code]

And the serve

[2013-01-19 02:15] CaryLandholt commented on #17
Hi @ejain,

There is already a cache buster for scripts and styles that is used during a prod build.

[code]

As you can see, the `config.uniqueVersion()` function inserts a unique string during every prod build as a querystring.

Templates are inlined (inserted into index.html as script tags).  Since index.html should always be served, the user will receive the latest templates.

Cache busting wa

[2013-01-19 02:20] CaryLandholt commented on #18
Make sure the reload port is different than the port you're serving your app.
Also the port inside the reload configuration is the default one used by the reload plugin.  They must match.

[code]

Thanks,
Cary

[2013-01-19 10:21] knalli commented on #18
Sure. I'm using the current HEAD of this repository :) And the logs in my previous comment -- so would I guess -- show that both client and server are talking to each other (port matches).

This means the setup is working for you? What a version of chrome and LiveReload do you have?

[2013-01-19 10:28] knalli opened #19 "Compass integration"
In our app, we use Compass instead of Less. Should I PR this? As an alternative to less (not replacement)?

[2013-01-19 16:55] CaryLandholt commented on #18
I'm running:
- Google Chrome 24.0.1312.52
- [LiveReload 2.0.9](https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei)

In order for LiveReload to work with the project you must:
- run `grunt dev` to ensure the grunt tasks watch for file changes
- run `grunt server`
- ensure that the Chrome extension is enabled on the site (see screenshot)

![image](https://f.cloud.g

[2013-01-19 16:57] CaryLandholt commented on #19
Compass is an alternative.
Creating a Compass branch would be more appropriate, unless you identify other issues that make Compass integration difficult.

Thanks,
Cary

[2013-01-19 17:01] knalli commented on #19
It's not difficult. I'm only thinking about putting this altogether. Then it would be only a change of the tasks in the aggregators default, dev and prod.

-Jan

[2013-01-19 17:03] CaryLandholt commented on #19
ok - let me know if you need help
I recommend creating a branch for Compass

Thanks Jan,
Cary

[2013-01-19 19:28] #18 closed, assigned to nobody

[2013-01-19 22:11] knalli commented on #19
Okay, I've made a new branch on my fork: https://github.com/knalli/AngularFun/tree/compass-integration
Currently, this replaces less completely and uses https://github.com/vwall/compass-twitter-bootstrap

What do you think?

[2013-01-19 22:18] knalli commented on #18
Well, now it works. Both AngularFun and my own project. I cannot say I have something changed. Too much strange stuff today..

[2013-01-19 23:09] CaryLandholt commented on #18
At least it's working.  :)

[2013-01-19 23:15] CaryLandholt commented on #19
I cloned the compass-integration branch and received a grunt error on the compass task.

![image](https://f.cloud.github.com/assets/833972/80740/eaf87c58-628d-11e2-8e21-3ce7add8e1f1.png)

Is it a requirement to have compass installed globally?

One of my design principles was to keep global requirements at a minimum.  Can this be done?

Thanks

[2013-01-19 23:16] CaryLandholt commented on #19
Ahh - I just saw you updated the README with the requirement.
Let me give it another go.

[2013-01-19 23:17] knalli commented on #19
Yep, this is required. Compass (or SASS) is "Ruby land", there is currently no other way.

[2013-01-19 23:19] CaryLandholt commented on #19
The prerequisite has a typo.
It currently reads `gem install gem`
I'm pretty sure you mean `gem install compass'
Correct?

[2013-01-19 23:20] knalli commented on #19
Yes, of course. :(

[2013-01-19 23:20] CaryLandholt commented on #19
And need `gem install bundler` as a prerequisite

[2013-01-19 23:21] knalli commented on #19
But only if you want to use it. You don't have it. Bundler is like an optional -NPM- package.json.

[2013-01-19 23:26] CaryLandholt commented on #19
Right, I was just going through your docs step-by-step.
After installing bundler, I'm able to get it to work.
I was able to run all three build configurations successfully and even picked up my changes in dev mode.

Nice job!

[2013-01-20 03:18] ejain commented on #17
Can I use <%= config.uniqueVersion() %> in stylesheets and scripts, too, e.g. to reference images?

Having the cache buster in the file name (e.g. /scripts/scripts-v24359078.min.js) rather than appended as a query parameter would ensure that the original version of the file can't end up being cached in place of the new file, e.g. when rolling out an update.

Also, using per-build strings as cache

[2013-01-20 03:53] CaryLandholt commented on #17
Is your expectation to create a hash as the file name based on its contents?

This would ensure the file name would remain the same for each build unless the contents of that file changed.

For example:

[code]

when built could generate `scripts-v12345.min.js`

Then if the contents of the script were changed to:

[code]

when built could generate `scripts-vabcde.min.js`

Then changing the content

[2013-01-20 03:58] CaryLandholt commented on #17
I did something like this several months ago.
https://github.com/CaryLandholt/AngularFun/blob/162b9ab87805abfe9fb2ee24c8bb34e14a972c30/grunt.js

Cannot remember why I removed it.  :)

[2013-01-22 06:01] ejain commented on #17
Yes, that's the idea. The Ruby on Rails asset pipeline uses this approach, as do some big sites like Facebook.

[2013-01-30 08:18] sidthesloth commented on #6
Thank you for this great application reference architecture, Its People like you that continue to support the open-source paradigm by sharing your knowledge.

[2013-01-30 08:21] mattfysh opened #20 "angular as script tag"
If you were to add angular as a script tag on the page, and then your require.js after that, you could avoid having to list angular as a dependency of each library. I'd imagine you could simply write this in your shim:

[code]

[2013-01-30 13:04] CaryLandholt commented on #20
@mattfysh

Yes, you are right.  It's really a trade-off and also a personal preference.  Explicitly define dependencies vs. assume the dependencies are available.
Sometimes the dependencies are non-Angular as well (i.e. jQuery, etc.).  Then you'll need to make the same decision.  Do you ask RequireJS to load and make available jQuery for you, or assume it's there?  You'll also need to handle Angul

[2013-01-30 13:04] #20 closed, assigned to nobody

[2013-01-30 13:06] CaryLandholt commented on #6
Thanks @sidthesloth!

[2013-01-31 18:51] davidmarble opened #21 "'html' module not found"
2 issues:
1. The `html` module should be included in packages.json (I think -- I'm not a node dev)
2. In the "Run It" section of your readme, you should mention you must compile using one of the options listed before running it for the first time (I'm new to grunt)

Details: `npm install` worked fine, so far as I could tell, but upon running `grunt server` and browsing to the page, I got an error

[2013-02-01 01:33] CaryLandholt commented on #21
@davidmarble,

hmm, that's very strange.
You shouldn't need to install the html package.  What version of node are you running?
Are you still having trouble?

Good point about adding the compile precondition before "Running It".  I'll add it to the readme.

Thanks for the feedback,
Cary

[2013-02-01 01:33] #21 closed, assigned to nobody

[2013-02-01 02:48] davidmarble commented on #21
Latest node (0.8.18). Followed everything else (global install of coffee-script and grunt). But like I said, `npm install html` fixed it for me.

[2013-02-01 03:01] CaryLandholt commented on #21
strange, I'll keep an eye out.

By the way, I updated the docs to add the compilation precondition before running.  :)

[2013-02-09 05:08] CaryLandholt commented on #17
@ejain,

I just added cache busting to the project.

Take a look at [index.template](https://github.com/CaryLandholt/AngularFun/blob/master/src/index.template).

You'll see the following.

[code]

The `config.hash` function gets the contents of the file, passed as a parameter, and calculates a hash.  Then the hash is just appended to the end of the url as a QueryString parameter.

Hope this helps!

[2013-02-09 05:08] #19 closed, assigned to nobody

[2013-02-16 01:19] ejain commented on #17
Perfect! Presumably I can do this, too:

[code]

[2013-02-16 04:25] CaryLandholt commented on #17
No.  You won't have the hash to create the filename.
For instance, `/scripts/scripts-hashhere.min.js` does not exist until you generate the hash.
This is why I chose to go the QueryString route, since the system can generate `/scripts/scripts.min.js` without the need of the hash.  Then generating the hash is used just for the QueryString.

[code]

To do what you are asking would require generating

[2013-02-27 16:12] hokster7 opened #23 "Specify LICENSE file"
Thanks for your hard work on this code. Please specify a LICENSE so that people know how you'd like the code to be distributed.

[2013-02-27 21:51] CaryLandholt commented on #23
Hi @fushunpoon,

I've added the [LICENSE](https://github.com/CaryLandholt/AngularFun/blob/master/LICENSE).

Thanks,
Cary

[2013-02-27 21:51] #23 closed, assigned to nobody

[2013-03-05 15:54] AjaxSolutions opened #24 "RequireJS text plugin"
Cary, I don't see that you are using the RequireJS text plugin.  This plugin could be used to load AngularJS templates instead of using templateURL.  As much as I understand AngularJS, templates are loaded via Ajax whereas RequireJS optimization can inline text file which is more efficient as it eliminates the need to make an http request.
Les

[2013-03-05 16:50] CaryLandholt commented on #24
There is an inlineTemplate grunt task which wraps the views in [script](http://docs.angularjs.org/api/ng.directive:script) tags and places them in the index.html file.
This is done in the prod build and avoids the additional requests.

I'm working on a grunt task that places the views directly in the [$templateCache](http://docs.angularjs.org/api/ng.$templateCache).

[2013-03-05 16:51] CaryLandholt commented on #24
Also, using the text plugin requires the use of RequireJS in production.  This can be avoided altogether.

[2013-03-05 20:54] sidthesloth opened #25 "Requirejs and loading jquery, jquery plugins"
Hi Cary,
I'm using angularfun as a reference for a huge application. I have struggled in vain to configure AMD enabled jquery and NON AMD jquery plugins like datatables and the controllers to load. Do you perhaps have some pointers into how I could go about loading the jquery and the plugins?.

Thank you.

[2013-03-06 02:56] #24 closed, assigned to nobody

[2013-03-06 02:58] #17 closed, assigned to nobody

[2013-03-06 03:48] CaryLandholt commented on #25
Hi @sidthesloth,

I created a [nonAMD](https://github.com/CaryLandholt/AngularFun/tree/nonAMD) branch demonstrating how to load a non AMD file as a dependency and have AngularJS manage it through its dependency management system.

Steps
- Added [jquery.coffee](https://github.com/CaryLandholt/AngularFun/blob/nonAMD/src/scripts/values/jquery.coffee) to register jquery with AngularJS using the [value

[2013-03-06 04:15] CaryLandholt opened #26 "Upgrade to grunt 0.4.0"

[2013-03-06 04:15] #26 closed, assigned to CaryLandholt

[2013-03-06 12:32] sidthesloth commented on #25
Hi Cary,
Your quick response is much appreciated and thank you for the solution.
Just some further questions however, is this the only way of loading
jquery?...from my understanding jQuery supports the AMD API by
conditionally wrapping itself in a define() method and declaring
itself as _named
AMD module_, so it should work by say using the requirejs config such as
below, right?

require

  # Sets

[2013-03-07 04:02] CaryLandholt opened #27 "Upgrade reload task to work with grunt 0.4.0."
Would prefer to use [grunt-contrib-reload](https://github.com/gruntjs/grunt-contrib-livereload).

[2013-03-07 04:48] CaryLandholt commented on #25
Lol - you are absolutely right about modifying DOM with jQuery inside controllers.  I do not recommend doing so at all.  I was just demonstrating how to register a 3rd-party library with RequireJS and AngularJS.

Perhaps it was a bad example for the reason that you actually don't want to do it.

Nevertheless, latter versions of jQuery do provide a define which makes jQuery available as a module.

[2013-03-07 19:50] sidthesloth commented on #25
Thanks a great deal, I just needed to confirm my understanding, I'm still
getting my config to work
On Mar 7, 2013 6:48 AM, "Cary Landholt" notifications@github.com wrote:

[2013-03-07 20:17] CaryLandholt commented on #25
Let me know if you need additional help.

[2013-03-07 20:21] CaryLandholt commented on #21
@davidmarble,

This actually happened to me recently when upgrading express.js and grunt.js.
After completing the upgrade the error went away.

[2013-03-10 03:20] sidthesloth commented on #25
Hi Cary,

I managed to configure the Jquery, thanx,  however when trying to configure
angulaui when I add the ui module to the app.coffee file as follows

angular.module 'app', ['ngResource', 'ui']

the added ui module causes this error in the javascript console Error: No
module: ui @ http://localhost:3005/scripts/libs/angular.js:1058

do you perhaps know what is wrong?

Regards
sidthesloth

On Th

[2013-03-11 02:18] CaryLandholt commented on #25
Can you share your repo?

At first blush it sounds like the angular-ui module is not available when the app is being bootstrapped.
This [line](https://github.com/CaryLandholt/AngularFun/blob/master/src/scripts/main.coffee#L18) shows that app has a dependency on libs/angular and libs/angular-resource.  You may need to include the ui module here too.

Without seeing the full context of your code, it

[2013-03-11 07:40] sidthesloth commented on #25
Spot on Cary!!! ...and how did i miss it ...this is where pair programming
would come in handy. After including the ui module everything works :)
...oh the value of opensource and collaborative development. Thanx a great
deal.

On Mon, Mar 11, 2013 at 4:18 AM, Cary Landholt notifications@github.comwrote:

[2013-03-11 12:48] CaryLandholt commented on #25
Awesome!  Yeah, I love pair programming and OSS too.

[2013-03-11 12:48] #25 closed, assigned to nobody

[2013-03-11 17:50] JustGoscha opened #29 "Is the loading of files with the shim configuration still asynchronous and as fast as how you did it in take 2?"

[2013-03-12 02:39] CaryLandholt commented on #29
Yes - RequireJS handles shimmed modules the same as defined modules.
They are asynchronous in the [dev build](https://github.com/CaryLandholt/AngularFun#compile-angular-fun) and synchronous in the [prod build](https://github.com/CaryLandholt/AngularFun#compile-angular-fun).
All scripts are compiled into a single minified file with the prod build.

[2013-03-12 02:39] #29 closed, assigned to nobody

[2013-03-12 03:25] CaryLandholt commented on #27
Fantastic!  Works great, but I cannot get livereload to work after restarting the express server.
Does it work for you?  I can refresh the browser manually, and all is fine.  It just doesn't reload itself when server.coffee or routes.coffee change.

By the way, thanks so much - great work!

Cary

[2013-03-12 03:30] CaryLandholt commented on #27
Jan,

I'd like to add you as a contributor in the package.json file.
Would you mind adding yourself (name, email, url)?

Thanks,
Cary

[2013-03-12 15:10] knalli commented on #27
Well, I've tried this, too.

With

[code]

it will reload. But it does not wait until the server was restarted.

[2013-03-12 15:38] CaryLandholt commented on #27
I see - so it reloads before the server is ready>

[2013-03-12 15:40] knalli commented on #27
Documentation of grunt-express says, that is uses https://github.com/nodejitsu/forever-monitor internally. Perhaps we could give that a try..?

[2013-03-13 01:43] CaryLandholt commented on #27
Well, it's really not a big deal, in my opinion.  If the user makes changes to the server or routes files, the user just needs to manually refresh the browser.

If you can figure it out, fantastic.  I'm thinking to just close the issue for now.

Thoughts?

[2013-03-13 06:30] knalli commented on #27
In the future/ on demand, you could add some additional express &
connect magic: session aware, gzip, proxy support to avoid SOP
violating XHRs.

 But for now, that's enough.

[2013-03-14 03:54] CaryLandholt commented on #27
Great - closing this issue.

Thanks, Jan!

[2013-03-14 03:54] #27 closed, assigned to nobody

[2013-03-15 10:57] Bochenski commented on #27
Hi, @knalli, great that your helping with Angular Fun.  @CaryLandholt - sorry I've been quiet recently.

I've also been working on getting express to reliably restart in conjunction with live reload.  I'd come across grunt-express but hadn't got it working well myself (so thanks for the PR - really useful).  What I had done however, in my attempts to write a "live reload compatible" "restart expre

[2013-03-15 12:28] knalli commented on #27
Hm.. I'm not familiar with the Grunt events.

btw, it seems that reload is suggested/planned for https://github.com/gruntjs/grunt-contrib-connect.

[2013-03-16 05:00] CaryLandholt opened #31 "Need JS version"
# Some prefer to work with JavaScript instead of CoffeeScript.

Configure grunt that converts the CoffeeScript files to JavaScript.

After conversion, the CoffeeScript files would need to be deleted (clean).
The node_modules directory needs to be excluded.

Maybe something like this:

[code]

Proposed command line command:  `grunt jslove`

[2013-03-17 00:59] CaryLandholt opened #32 "Separate test tasks"
Currently the test tasks are combined with product build.
Separate to make a cleaner implementation.

[2013-03-17 01:15] #31 closed, assigned to nobody

[2013-03-22 19:29] lrvick opened #33 "Handle accessing RequireJS modules without per-file RequireJS wrappers/callbacks"
So I have tried everything I can think of and I am kind of at a loss...

I have a requirejs module I want to use within a controller:

https://github.com/faisalman/ua-parser-js/blob/master/src/ua-parser.js#L474-L478

I add it as a dependency of the controller in my main.js shim but in the module itself I am unable to access it directly unless I use a require wrapper/callback which of course breaks

[2013-03-23 02:44] CaryLandholt commented on #33
Lance,

Whoa - that was a tricky one!

Unlike jQuery (https://github.com/jquery/jquery/blob/master/src/exports.js#L9), ua-parser does not attach to the global window object if AMD (RequireJS) is detected.  They went all-in for AMD, which is good, but a challenge nonetheless.

The trick was continuing to write Angular code without RequireJS and just leverage the shim configuration
So we needed to g

[2013-03-25 14:36] lrvick commented on #33
This seems to work as expected.

In my case I only need this in one file and opted to avoid creating a separate directory/file/server request just for one line of code to use module.value().

Gleaned enough from your example to simply do the following in my shim:

[code]

Then in MyService I can simply import and use uaParser normally with access to all methods by doing

[code]

This single-file a

[2013-03-25 14:57] lrvick commented on #33
Actually... seems I jumped the gun.

In either case, the requirement for init-ness outside of angular breaks testacular unit testing.

Unit tests on files that include uaParser die with:

[code]

[2013-03-25 23:00] CaryLandholt commented on #33
Lance,

Keep in mind your code snippet won't work after optimization, since RequireJS is only used in the build process (`grunt prod`).

During optimization the shim file is used to establish the order in which modules are included in the final concatenated and minified file.

The following code will be missing.  This is why I created a separate file for this purpose.

[code]

As for testacular (r

[2013-04-07 18:50] CaseyHaralson opened #34 "Grunt Template task"
I am trying to use the grunt template task in my own project but grunt can't find the task.  The template task works when I build your project but doesn't work in my project.  Is template loaded from a dependency?  It may be obvious, but I am new to grunt so I am a little confused.

I also asked the question on stack overflow if you would like to answer there: http://stackoverflow.com/questions/15

[2013-04-08 01:01] CaryLandholt commented on #34
@CaseyHaralson,

The template task is located in [grunt-hustler](https://github.com/CaryLandholt/grunt-hustler), an npm package, which must be listed as a dependency in the [package.json](https://github.com/CaryLandholt/AngularFun/blob/master/package.json) file in order for `npm install` to locate it and make it available for your project.

My documentation for grunt-hustler is seriously lacking.

[2013-04-08 01:01] #34 closed, assigned to nobody

[2013-04-08 03:24] CaseyHaralson commented on #34
Thanks!  Also, thanks for sharing your project!  I have learned a lot from looking at it.

[2013-04-08 13:10] CaryLandholt commented on #34
You bet, @CaseyHaralson!

[2013-04-09 21:32] pkrnjevic opened #35 "Tests failing"
Not sure if I'm doing something wrong, but this is what happens when I run "grunt tests":

[code]

[2013-04-09 21:42] pkrnjevic opened #36 "What changes needed to deploy to other webservers?"
Overall, a very nice starting point - the best I've seen so far.

But, while  node.js is fine for development, I'd prefer to deploy using a different web server, perhaps Apache or nginx, fronting a Python/Ruby/Go app.

Can you suggest what changes are needed?

Thanks,
Peter

[2013-04-10 03:43] CaryLandholt commented on #35
Yep - I'm getting that error too.  I'm looking into it.

[2013-04-10 03:51] CaryLandholt commented on #35
@pkrnjevic,

The tests should now pass.  The httpBackend was being flushed but no backend was available to flush.  :)

Please let me know if you're good.

Thanks,
Cary

[2013-04-10 03:55] CaryLandholt commented on #36
This was actually one of my principles.  You don't need to make any changes unless your api url's are different.

Once the application is built by `grunt` or `grunt prod`, just take the contents of the dist folder and host them in whichever web server you wish.

When running `grunt server` only the files in the dist server are hosted.

Does this help?

Thanks,
Cary

[2013-04-10 03:57] pkrnjevic commented on #35
Hi Cary,

That fixed it perfectly! Runs nicely now.

Thanks,
Peter

[2013-04-10 03:58] CaryLandholt commented on #35
Cool - closing the issue.

[2013-04-10 03:58] #35 closed, assigned to nobody

[2013-04-10 04:02] pkrnjevic commented on #36
I think so. Before opening this question, I did try running against my laptop's Apache but it didn't work - not surprising since i set no config, particularly a web root.
I'll try again shortly.

[2013-04-10 04:04] pkrnjevic opened #37 "How about Jade?"
I grew to quite like haml on a recent rails project and would like to use Jade with AngularJS.
Not quite sure how to integrate the necessary grunt/node pieces to get this done.
Any tips?

[2013-04-10 04:05] CaryLandholt commented on #36
You will need to make sure the web server serves the index.html file as well as images, scripts, and styles.

[2013-04-10 04:08] pkrnjevic opened #38 "Don't do a "grunt clean"!"
Being a long-time C dev, i figure "make clean" or anything similar should be pretty benign.
Then the good folks developing grunt come along and, by default, run all targets.
I now know I should have done a "grunt clean:working" but that was only after wiping my .coffee files, then learning about how grunt works. (as much as I could learn in half and hour or so).

I guess the proper answer here is

[2013-04-10 04:09] CaryLandholt commented on #37
There is a [grunt-contrib-jade](https://github.com/gruntjs/grunt-contrib-jade) grunt plugin which can do what you want.

You would compile your jade files using the above task.  This can be incorporated into the build where the templates are compiled currently

[2013-04-10 04:10] pkrnjevic commented on #36
Of course index.html served just fine - the problem was all the other folders were searched from the wrong root.

[2013-04-10 04:10] CaryLandholt commented on #38
lol - yeah, be careful with grunt clean

[2013-04-10 04:10] #38 closed, assigned to nobody

[2013-04-10 04:11] CaryLandholt commented on #36
Good point, the paths are root-relative.

[2013-04-10 04:13] pkrnjevic commented on #37
That's the part I don't quite understand - the role of the templates. I see they're html, but also compiled. Can this be replaced by jade? Or is this to do with loading them into the template cache?

[2013-04-10 04:24] CaryLandholt commented on #37
The templates are compiled using a grunt task from [grunt-hustler](https://github.com/CaryLandholt/grunt-hustler).

With this you can use underscore templating functions as well as functions provided by the template task, such as hashing for cache busting.  See https://github.com/CaryLandholt/AngularFun/blob/master/src/index.template#L15-L16.

If you don't use any of these features, plain html is

[2013-04-10 04:58] pkrnjevic commented on #36
Hi Cary,

Just cleaned up my apache config and now deploying from dist works flawlessly!
Nice job.

Thanks,
Peter

[2013-04-10 04:58] #36 closed, assigned to nobody

[2013-04-10 05:11] pkrnjevic commented on #37
Nice. I'll experiment a bit and see if i can combine templates with jade.
Thanks again!

[2013-04-10 12:05] CaryLandholt commented on #36
Great!

[2013-04-10 12:05] CaryLandholt commented on #37
Cool

[2013-04-10 18:33] sidthesloth opened #39 "loading external files"
Hi
How is loading external json/text data file using $http.get and or reading data from database done?

[2013-04-11 00:40] CaryLandholt commented on #39
I'm using the [angular-resource.js](http://docs.angularjs.org/api/ngResource.$resource) library which is an abstraction over $http.

You can see it in use with [personService](https://github.com/CaryLandholt/AngularFun/blob/master/src/scripts/services/personService.coffee).

[code]

When you execute `grunt server` in AngularFun, a Node.js web server fires up and provides routing located in [routes

[2013-04-11 00:40] #39 closed, assigned to nobody

[2013-04-12 19:29] pkrnjevic commented on #37
Hi Cary,

Last night I had a crack at Jade support, though I broke cacheing and IE in the process. I'll try to fix them asap.
You can see the changes in my fork (https://github.com/pkrnjevic/AngularFun.git).
If you have any suggestions on how to fix IE and cacheing, I would be most appreciative.
Thanks again for the wonderful angularjs seed!

Cheers,
Peter

[2013-04-13 04:37] pkrnjevic commented on #37
NB: I should have mentioned the jade mods are all in a new branch: jade.

[2013-04-24 12:31] CaryLandholt opened #41 "grunt-express on Windows"
There may be a problem with grunt-express' lastest version on Windows.
Works on Mac.

exploring...

[2013-04-25 02:56] CaryLandholt commented on #37
That's pretty cool, Peter.

You are missing the necessary IE conditional comments to support IE.
https://github.com/pkrnjevic/AngularFun/blob/master/src/index.template#L2
Looks like this style of syntax works.

[code]

Within the template grunt task there is a config.has function that computes the hash of a given file based on its contents.  Since you are not using the template grunt task, you are

[2013-04-25 02:57] CaryLandholt commented on #33
@lrvick Have you had any luck after upgrading Karma and your unit tests?

[2013-04-25 02:58] CaryLandholt commented on #41
Looks like the problem is with the version of forever-monitor grunt-express is using.
Opened an issue with them.
https://github.com/blai/grunt-express/issues/12

[2013-04-25 02:58] #41 closed, assigned to nobody

[2013-04-25 03:08] pkrnjevic commented on #37
Hi Cary,

In my working copy I did add back a couple of lines for IE, though as yet untested:

[code]

Don't know if they work - I'll probably just use yours ;-)

And thanks for the tip about the hashes - will be needed for prod version, once I get through transforming a ton of legacy JS and jquery into something a bit more Angular-friendly.

Cheers,
Peter

[2013-04-28 20:37] laurelnaiad opened #43 "Using a CDN?"
Hi, Cary.

Thanks for this template.  I'd like to be able to reference cdnjs copies of angular, etc., so that I can take advantage of them possibly being in a browser's cache already.  For some reason it doesn't seem to be working for me.  I suspect I'm doing something silly.

I specified paths in main.js and in the requirejs section of Gruntfile.js:

[code]

The only result I see is that when I b

[2013-04-29 01:21] laurelnaiad opened #44 "copying tests"
I added this to the copy section in order to get the spec files into dist_test:

[code]

I'm a total newbie so perhaps that shouldn't have been needed?

Edit: to demonstrate my level of newbieness -- I can't even make the tests fail now that they are run...I edited test/scripts/services/personSpec.js as so, and it still succeeds.

[code]

[2013-05-02 01:21] CaryLandholt commented on #43
Sorry for the delay, Stu.
I'll be providing a solution in the next couple days.

Thanks,
Cary

[2013-05-21 19:41] lrvick commented on #33
Everything seems happy now, and tested with another library with a similar issue (spinjs) with success. Closing now :)

[2013-05-21 19:41] #33 closed, assigned to nobody

[2013-05-23 19:20] leifhanack opened #46 "Can you explain a bit more how main.coffee works?"
Hi there,

thanks for your work. Could you explain a bit more the functionality of the main.coffee?

What I understood is that one line in the `shim` section is equal to s.th. like `angular.module("myMod", ["myDep1", "myDep2"])`

What I don't understand which `modules` should go into `[...], (require) -> angular.element...`. I understood that the first callback is called after all modules inside `

[2013-05-25 02:57] CaryLandholt commented on #46
Leif,

The shim configuration simply sets up the dependencies for any module that may be loaded.
These modules do not get loaded unless they are requested.

The next section, within the array, are the modules that are being requested.

So, if we have

[code]

Only the gitHubController is requested to be loaded.
Following the dependency chain, the following will be loaded.
- `controllers/gitHubCont

[2013-06-03 12:15] nistormihai opened #47 "Template management."
For stat very good tutorial application for angularjs and requirejs mashup.
The only issue witch I have is with template management.
So well Take 3 was perfect for management of coding and coding style but for templates,
I really don't like having all templates in one file, for multiple reasons.
And I don't like having to rely on angular to load my templates on router mode also.

I really wanted t

[2013-06-19 18:55] jwall commented on #46
Thank you for this project and for the further explanation of main.coffee.

What if I wanted to include some third party js that is using jquery? Do I include it directly in the index template or ?

[2013-06-19 21:01] jwall commented on #46
Including it in the index template does work. The best way is to angularize everything, but in lieu of that, direct index inclusion does work.

[2013-07-23 02:47] atian25 opened #48 "change grunt-regarde to grunt-contrib-watch"
grunt-regarde is deprecated in favor of grunt-contrib-watch

[2013-07-23 02:50] CaryLandholt commented on #48
Workin' on it.
Hope to push a new version in a couple days.
Thanks!

[2013-08-09 11:27] bkak commented on #46
In the sample it loads all the scripts in the browser. Does this application load javascript(eg personController,PersonService etc) when required or I am missing something.

[2013-08-26 19:19] CaryLandholt commented on #48
Finally finished!

[2013-08-26 19:19] #48 closed, assigned to nobody

[2013-08-26 19:26] CaryLandholt commented on #47
Hey @nistormihai,

Sorry it took so long to reply.

I'm not so concerned with _what_ loads the templates as long as they are ready when the app needs them.
That said, I do like a snappy user experience, so I'm included to favor the template cache method (see ngTemplateCache) so the templates are already in memory when the app needs them.

I hope to include a new templating mechanism in AngularFun

[2013-08-26 19:26] #47 closed, assigned to nobody

[2013-08-26 19:26] CaryLandholt commented on #32
done

[2013-08-26 19:26] #32 closed, assigned to nobody

[2013-08-26 19:27] CaryLandholt commented on #37
Hey @pkrnjevic,

I've added jade support in AngularFun.  Take a look at v2.0.0.

Thanks,
Cary

[2013-08-26 19:27] #37 closed, assigned to nobody

[2013-08-26 19:29] CaryLandholt commented on #44
Hi @stu-salsbury,

I've reworked the testing configuration, and I believe it is much simpler.
There's no need to copy anymore.  :)

Check it out.

Thanks,
Cary

[2013-08-26 19:29] #44 closed, assigned to nobody

[2013-08-26 19:31] CaryLandholt commented on #46
Hey @bkak,

Yes the JavaScript files are loaded as-needed via RequireJS.
Keep in mind this is only necessary in the dev build.  The prod build compiles everything into one file and doesn't need this functionality.

Thanks,
Cary

[2013-08-26 19:33] CaryLandholt commented on #46
@jwall,

Including jQuery with AngularJS apps requires jQuery to load prior to AngularJS.
Certainly the easiest way is to add jQuery to the index.html file.
RequireJS does provide the ability to include external files via its [configuration](http://requirejs.org/docs/jquery.html), however.

Thanks,
Cary

[2013-08-26 19:33] #46 closed, assigned to nobody

[2013-08-26 19:37] CaryLandholt commented on #43
Delay apologies.  :(

I've been working heavily on a large AngularJS application at work.

Outside of including the reference directly in index.html, the current AngularFun architecture does not support CDNs.
The motivation was to create a single, minified JavaScript file.

Sorry.

Cary

[2013-08-26 19:37] #43 closed, assigned to nobody

[2013-08-26 21:22] laurelnaiad commented on #43
Thanks, Cary.  No worries.  I've long since moved on :)

[2013-08-27 01:37] pkrnjevic commented on #37
Hi Cary,

Very nice to see you're still updating this - I've been hacking away at your version from 4 months ago, and it'll be good to rebase to your new version, especially since I never really addressed IE8 or compressing everything for production.

I've also started using coffeescript classes for services. My approach, after much experimentation, is a bit different from yours.
Here's a sample g

[2013-08-27 01:46] CaryLandholt commented on #37
Cool - actually I just started using CoffeeScript classes too.
https://github.com/CaryLandholt/AngularFun/blob/master/src/scripts/services/gitHubService.coffee

[2013-08-27 01:58] pkrnjevic commented on #37
I saw that: your approach is certainly a quick way to migrate existing Angular services, by doing everything in the constructor.

My approach feels more like traditional CoffeeScript, though it took a few attempts to find something that felt (and worked!) right.

I'd be curious to hear what you think of this approach - I haven't seen anyone else doing it like this.

[2013-08-27 02:05] CaryLandholt commented on #37
How would you handle directives with your approach?

[2013-08-27 02:07] pkrnjevic commented on #37
Haven't gotten that far yet :smile:

[2013-08-27 03:02] CaryLandholt opened #49 "JS Love and ngShim aren't working"
Need a way to exclude certain files from being shimmed (i.e. libs).

[2013-08-30 20:44] malixsys opened #50 "Support ui-bootstrap"
I cannot seem to be able to add ui-bootstrap properly: baybe because it doesn't follow the angular-\* pattern?

[2013-08-31 03:15] CaryLandholt commented on #50
@malixsys,

I've created a branch that includes ui-bootstrap.
https://github.com/CaryLandholt/AngularFun/tree/ui-bootstrap-integration

**Steps**
- Add angular-bootstrap to [bower.json](https://github.com/CaryLandholt/AngularFun/blob/ui-bootstrap-integration/bower.json#L10)
- Add a [copy](https://github.com/CaryLandholt/AngularFun/blob/ui-bootstrap-integration/Gruntfile.coffee#L83-L87) configurati

[2013-09-01 04:19] #50 closed, assigned to nobody

[2013-09-01 05:45] CaryLandholt opened #51 "grunt prod and index.jade not working"
If the SPA (Single Page Application) is index.jade, `grunt prod` breaks.

The .jade views need to be compiled in order to calculate the hash.
But index.jade cannot be compiled until ngTemplateCache has executed.

Probably need to split the jade task into two sub tasks.

[2013-09-01 05:53] #51 closed, assigned to nobody

[2013-09-02 17:19] CaryLandholt opened #52 "Need support for organization by module"
Scripts and Views are only included when they are in their respective directories.

Refactor to allow for Scripts and Views to be anywhere.

[2013-09-02 17:20] CaryLandholt opened #53 "npm install script not working in Windows"
Could be a path escaping problem.

[2013-09-03 00:15] CaryLandholt commented on #53
Added bower install to README in the meantime

[2013-09-03 02:29] malixsys commented on #50
Fantastic! Could not get it to load ui-boottstrap for some reason...

Thanks!!

[2013-09-03 16:43] jwall opened #54 "Where to use .constant and add additional external mods?"
Currently I need to use .constant and add additional external modules. I am accomplishing this by using my own app template like:

<code>angular.module 'app', <%= config.modules %>
angular.module('app.config', []).constant('version', '0.1'))</code>

and by adding an additionalModules key in the Gruntfile for ngShim to concat to config.modules (referring to modules explicitly referenced in index.ht

[2013-09-03 18:03] CaryLandholt commented on #54
Hi @jwall,

Using ngShim you no longer need an app file.  It's created for you.
So you no longer need to do `angular.module 'app', <%= config.modules %>`.

When including modules other than `app`, you will need to add them to the modules section of ngShim.

As for constants, they can be treated just like any other module type.

[code]

Let me know if this works.  I may need to tweak the ngShim gru

[2013-09-03 19:27] jwall commented on #54
In order to get my code to work I modified ngShim so that it grabs my app template with the constants defined. If I don't do it that way the app.config module isn't loaded at the right time. I have tried a version.coffee and also putting the constants in the routes.coffee file, but both fail. (Follow-up: I can use a constants.coffee and not modify the app template, but I still need the additionalM

[2013-09-03 20:04] jwall commented on #54
I refactored the ngShim portion a bit so now it looks like so:

[code]

so this lets you use modules that are externally loaded (and also my constants issue) and libs that extend a module.

[2013-09-04 02:16] CaryLandholt commented on #54
Can you clarify what you mean by "modules that are externally loaded"?

[2013-09-04 02:54] jwall commented on #54
I meant in the index.html as:

[code]

or even referenced locally as:

[code]

[2013-09-04 03:02] CaryLandholt commented on #54
Neither non AngularJS nor external references are supported.
This would need to be added.

You should be able to do the following, however.

[code]

[2013-09-04 03:04] jwall commented on #54
I thought they weren't supported which is why I made the ngShim modifications, but I wanted to make sure.

Thank you for your answers and for the great repo.

[2013-09-04 03:12] CaryLandholt commented on #54
There are two things not supported yet.
1. Loading non AngularJS files (e.g. jQuery) in a specific order.  For example, guarantee that jQuery loads prior to Angular.
2. Loading files from a [CDN](http://en.wikipedia.org/wiki/Content_delivery_network) (i.e. http://mycdn.com/angular.js).

If you are only consuming local Angular files, you're good.  :)

Thanks!

[2013-09-05 15:00] beninfobelt opened #55 "issues running after using jslove"
I started to look into getting AngularFun up and running with jslove

It converted from the coffee script well with no errors but I am having issues with grunt. I did perform the npm install and the bower install before running grunt jslove.

Now when I run the grunt command I get this error:

Running "clean:working" (clean) task
Cleaning ./.temp/...OK

Running "coffeelint:scripts" (coffeelint) ta

[2013-09-05 16:23] CaryLandholt commented on #55
Yeah, I've already logged an issue for this.
https://github.com/CaryLandholt/AngularFun/issues/49

I'm working on it.  :)

Sorry about that.

[2013-09-05 17:10] maru1034sk opened #56 "hashed filenames and css"
Hi.

Images are being hashed:

[code]

How is it possible to reference to hashed image filenames in a *.less file?

[2013-09-05 17:35] CaryLandholt commented on #56
Prior to upgrading to Bootstrap 3, I had a working version for images in less files.

[code]

It uses the same mechanism as is done in index.html.

See the full repo when that configuration was live.
https://github.com/CaryLandholt/AngularFun/tree/f8f5bd4d137bf8819a986041150b932b9a4c18c4

There is a new/better way coming very soon, however.

[2013-09-05 17:51] beninfobelt commented on #55
Sounds good - the conversion from coffee script has been successful so it allows me to study the code in the meantime. Very interesting how you create a function, inject the function, and then .call(this) for each js file!

[2013-09-06 03:57] CaryLandholt commented on #49
upgraded ngShim
https://github.com/CaryLandholt/AngularFun/commit/394c8503d3fb687d58514ce0015fda03c43e6e07

[2013-09-06 03:57] #49 closed, assigned to nobody

[2013-09-06 03:58] CaryLandholt commented on #55
Upgraded ngShim
https://github.com/CaryLandholt/AngularFun/commit/394c8503d3fb687d58514ce0015fda03c43e6e07

[2013-09-06 03:58] #55 closed, assigned to nobody

[2013-09-06 13:39] beninfobelt opened #57 "issue with Running "less:app" (less) task"
Having issues using grunt command after a clean install:
1. Cloned AngularFun
2. command: sudo npm install
3. command: bower install
4. command: grunt jslove
5. command: grunt

Running "clean:working" (clean) task

Running "coffeelint:files" (coffeelint) task

Running "copy:app" (copy) task
Created 10 directories, copied 22 files

Running "ngShim:scripts" (ngShim) task

Running "coffee:app" (coffe

[2013-09-06 14:18] beninfobelt commented on #57
one thing I notice is that after running the commands mentioned above (and inspecting the index.html), I do not see the libs folder in my scripts directory. I also am missing the main.js file

[2013-09-07 13:59] maru1034sk commented on #56
@CaryLandholt thank you for the help/explanation :) This way works for me.

[2013-09-07 13:59] #56 closed, assigned to nobody

[2013-09-07 21:03] maru1034sk commented on #54
I want to use "restangular". It has "underscore" as a dependency. What's the correct way to load this module?

[code]

This isn't working, because underscore isn't an angularjs-module.

[2013-09-10 02:19] CaryLandholt commented on #57
Hi @beninfobelt,

It looks like you have both grunt-cli and bower installed globally.  That's good.

[code]

Can you verify that the bower components did pull down properly?
A bower_components directory should have been created at the root of your project.

It should contain
- angular
- angular-animate
- angular-mocks
- ...
- requirejs

[2013-09-10 02:19] CaryLandholt commented on #56
Cool - I hope the _next way_ will work even better.  :)

[2013-09-10 02:39] CaryLandholt commented on #54
Hi Angelo,

I had to refactor the grunt plugin to allow for non-Angular dependencies.
Although ngShim was just introduced, some users are using it already.
So, here comes shimmer, which is an Angular-agnostic RequireJS main file builder.  But there is a bit of Angular magic (see NGMODULES, NGAPP, NGBOOTSTRAP).

[code]

As you can see, lodash (underscore) was added to an array along with Angular.

[2013-09-10 03:22] maru1034sk commented on #54
Hey Cary,

That sounds awesome. This new way looks very solid. I'll try it out as soon as I have some time.

Thank you very much :3

[2013-09-10 03:22] CaryLandholt commented on #54
Cool - please let me know if it does the trick!

[2013-09-10 17:05] jwall commented on #54
The new shimmer works well for me. I don't need my grunt-hustler fork anymore!

One other note is to remember to add dependencies to karma.unit.files array as well.

[2013-09-11 00:43] CaryLandholt commented on #54
@jwall, you're right - I'd like to create the main file for karma automatically as well.

[2013-09-11 00:43] #54 closed, assigned to nobody

[2013-09-12 12:24] beninfobelt commented on #57
Hey Cary - sorry for the delay in posting - I have been in transit this week in Charlotte.

I just checked and do not have the bower_components directory

I tried to run the bower install command but it doesn't seem to be doing anything. After running bower install, I try the grunt command again and get the same error (while the bower_components directory is still missing)

What set of commands do

[2013-09-12 12:44] CaryLandholt commented on #57
Perhaps you have an outdated bower installed globally.

Make sure you see the bower.json file in the project first.

Then enter the following at the command line.

[code]

Let me know.

Thanks

[2013-09-12 13:14] beninfobelt commented on #57
Here is the contents of the bower.json

{
    "name": "app",
    "version": "0.0.0",
    "dependencies": {
        "angular": "1.2.0-rc.2",
        "angular-animate": "1.2.0-rc.2",
        "angular-mocks": "1.2.0-rc.2",
        "angular-resource": "1.2.0-rc.2",
        "angular-route": "1.2.0-rc.2",
        "bootstrap": "~3.0.0",
        "html5shiv": "~3.6.2",
        "json3": "~3.2.5",
        "r

[2013-09-12 13:16] CaryLandholt commented on #57
Strange you had to rollback grunt-cli.  I recently updated it on my machine.

Have you tried deleting the project node_modules and performing a new `npm install`?

Maybe there's some junk laying around.

[2013-09-12 18:52] 11111000000 opened #58 "npm install errors"
1) pngquant should return path to pngquant binary:
     Uncaught AssertionError: false == true
      at /home/az/work/AngularFun/node_modules/grunt-contrib-imagemin/node_modules/pngquant-bin/test/test-path.js:17:4
      at ChildProcess.exithandler (child_process.js:641:7)
      at ChildProcess.EventEmitter.emit (events.js:98:17)
      at maybeClose (child_process.js:735:16)
      at Socket.<anonym

[2013-09-12 18:55] 11111000000 commented on #58
And then, after 'grunt dev', looks like something wrong with markup:

https://dl.dropboxusercontent.com/u/17582546/shots/255225418_full.png

node --version
v0.10.18

[2013-09-12 19:18] CaryLandholt commented on #58
What OS are you using?
The screenshot actually looks right.

[2013-09-12 21:15] 11111000000 commented on #58
ok, I'm using Archlinux up to date

[2013-09-13 02:35] CaryLandholt commented on #58
Looks like this is a known issue.
https://github.com/sindresorhus/node-pngquant-bin/issues/8

Try deleting the node_modules directory from the root of the project and then `npm install`

[2013-09-13 02:57] CaryLandholt commented on #58
I'm seeing this error on a Windows 8 machine as well.
I'm not seeing it on my Mac, however.

Until the offending node module is fixed, we'll have to put up with the console errors.

I'll keep an eye out.

Thanks,
Cary

[2013-09-13 02:57] #58 closed, assigned to nobody

[2013-09-13 12:48] beninfobelt commented on #57
I tried to delete the node_module directory and run npm install again. But to no avail.

Then, I tried to do a clean from the start clone but ran into the same issues.

I need to spend time learning coffee script.

Here is the latest I've found on status re: grunt-cli@0.1.9:
https://github.com/gruntjs/grunt-cli/issues/26

[2013-09-16 00:42] CaryLandholt commented on #57
Have you performed a fresh clone of the AngularFun repository to an empty directory?
This could eliminate issues with old/outdated files?

[2013-09-18 02:46] faloi commented on #57
I had the same issue and realised that the **bower_components** folder is being created inside the app folder (I'm trying to find out why) . So simply moving it from there to the root directory did the trick!

[2013-09-18 02:47] CaryLandholt commented on #57
Where is the "app" folder?

[2013-09-18 02:50] faloi commented on #57
It's created in the root directory after running **grunt**, i.e. instead of having _AngularFun/bower_components_ I have _AngularFun/app/bower_components_

[2013-09-18 02:51] CaryLandholt commented on #57
Is the package.json file at the root of the AngularFun directory?

[2013-09-18 02:53] faloi commented on #57
Yep, I didn't change anything. Just run _git clone_ followed by _npm install_ like you said in the README

[2013-09-18 02:55] CaryLandholt commented on #57
Very strange - sounds like it might be an issue with bower.
I keep my eyes open for a solution.

Thanks for the feedback!

Cary

[2013-09-18 03:00] faloi commented on #57
Great, let me know if you need some extra info (bower/npm versions, OS, etc)

[2013-09-18 03:04] CaryLandholt commented on #57
Do you have the latest AngularFun code?
I committed code recently to use a grunt task to install bower components.

[2013-09-18 03:08] faloi commented on #57
If by latest you mean 15-minutes-ago then the answer is yes. I've just tried starting from scratch but came up with the same error :confused:

[2013-09-18 03:10] CaryLandholt commented on #57
lol - ok

Can you try this?

Please comment out `copy: false` from the bower.install.options configuration.
And add `targetDir: './bower_components'` in the same spot.

[2013-09-18 03:16] faloi commented on #57
Same thing, it generated _app/bower_components_ again

[2013-09-18 03:17] CaryLandholt commented on #57
argh - do you have access to another machine?  Maybe non Linux?

[2013-09-18 03:23] faloi commented on #57
I have a Win7 VM here, give me some minutes to try there

[2013-09-18 03:23] CaryLandholt commented on #57
Great - thanks, Federico!

[2013-09-18 04:04] faloi commented on #57
Weird, but worked like a charm on Windows. Same versions of npm (1.3.8), grunt (0.4.1) and grunt-cli (0.1.9) on both OSs. My host OS is Ubuntu 13.04 64bits

[2013-09-18 04:05] CaryLandholt commented on #57
very strange - sounds like an issue with bower and Ubuntu, perhaps

Thanks for checking

Do you mind submitting an issue to the bower folks?

[2013-09-18 04:10] faloi commented on #57
Sure, I'll do it tomorrow (it's 1am here in Argentina and I'm falling asleep). I'm very very newbie on the nodejs ecosystem, so perhaps you can help me to improve the problem description. I'll email you a draft copy of the ticket before submitting it!

[2013-09-18 04:12] CaryLandholt commented on #57
Muchas gracias. Buenas noches.

Espero con interés trabajar con usted.

Cary

[2013-09-18 04:14] faloi commented on #57
Jajajaj gracias, continuamos mañana

[2013-09-18 13:42] beninfobelt commented on #57
I can confirm the same - on my linux machine, the bower_components directory is nested underneath the app directory.

Though I wasn't able to edit bower.install.options configuration  - - - - where is this file located?

Pls post the link to your bower ticket Federico - I will compound the issue so we get more attention to it.

[2013-09-18 13:57] CaryLandholt commented on #57
The settings are in Gruntfile.coffee, near the top

[2013-09-18 14:20] beninfobelt commented on #57
Ah - Threw me at first bc I didn't realize that this file gets converted to Gruntfile.js after running jslove

I hope I inserted the comment syntax correctly:

[code]

So I cloned a fresh copy. After making this edit, I ran the commands mentioned above but received the same error and the bower_components folder is nested underneath the app directory

FileError: 'bootstrap.less' wasn't found

[2013-09-18 14:24] CaryLandholt commented on #57
Ok, bummer.

I have to run to my day job. I'll keep searching for a solution.

Thanks,
Cary

[2013-09-18 14:27] beninfobelt commented on #57
I'm not sure that the issue is related to bower_components folder is being created inside the app folder

Other projects I've started with Yeoman have this setup and have no issues.

[2013-09-18 14:29] beninfobelt commented on #57
of course - me too

you've titled the project well :)

let me know what I can do to help test along the way

i look forward to contributing once I get coffee script under my belt

[2013-10-07 13:49] CaryLandholt commented on #57
Hey, @beninfobelt, @janraasch just committed a change for getting bower to work consistently.
A .bowerrc file was added indicating where to place the bower_components.

Please let me know if this works.

[2013-10-08 02:58] faloi commented on #57
@CaryLandholt it works for me, thanks!

[2013-10-08 02:59] CaryLandholt commented on #57
Awesome!

[2013-10-08 02:59] #57 closed, assigned to nobody

[2013-10-08 15:14] beninfobelt commented on #57
Awesome! I was able to successfully pull up angular fun in Chrome (on my ubuntu linux box) after running these commands on a clean install:

Cloned AngularFun
command: sudo npm install
command: bower install
command: grunt jslove
command: grunt

Thank you greatly Cary.

All the best,

-Ben

[2013-10-08 18:28] CaryLandholt commented on #57
Great, @beninfobelt!

[2013-10-16 06:36] janraasch opened #60 "Integrate grunt-newer"
[grunt-newer](https://github.com/tschaub/grunt-newer/) could take care of

[code]

from https://github.com/CaryLandholt/AngularFun/blob/master/Gruntfile.coffee#L463

[2013-10-30 16:11] makc commented on #53
does not work for me on mac osx 10.8.5, too

[code]

[2013-11-12 03:35] CaryLandholt commented on #60
@janraasch, I haven't been successful using grunt-newer.
Must be a config issue with which I'm struggling.

[2013-11-12 14:34] sidthesloth opened #61 "using stateProvider from ui-router"
Hi,
I have substituted $routeProvider with $stateProvider from ui-router in order to make use of nested views. However, I get Error [ng:areq] http://errors.angular.org/undefined/ng/areq?p0=calendarController&p1=not%20a%20function%2C%20got%20undefined.
I have tried all the forms of defining controllers for the templates in the router shown in the ui-router documentation but cannot get it to work.

[2013-11-13 07:54] janraasch commented on #60
If I get a chance, I'll try to have a look at this on the weekend.

[2013-11-18 01:28] CaryLandholt commented on #53
@makc - can you verify if it still isn't working?
Sometimes the npm service is down.

Thanks,
Cary

[2013-11-18 02:41] CaryLandholt commented on #61
Hi @sidthesloth,

I've created a new [ui-router](https://github.com/CaryLandholt/AngularFun/tree/ui-router) branch, replacing angular-route with ui-router.

It's in a working condition.

Please let me know if it helps.

Thanks,
Cary

[2013-11-27 15:47] CaryLandholt opened #62 "shimmer does not pick up newly added files within a watch"

[2013-11-28 07:05] CaryLandholt commented on #62
fixed

[2013-11-28 07:05] #62 closed, assigned to nobody

[2013-11-28 07:56] #61 closed, assigned to nobody

[2013-11-28 08:02] sidthesloth commented on #61
Hi Cary

Thank you, it indeed helped and all the assistance is much appreciated.

[2013-11-28 08:02] CaryLandholt commented on #61
Great!

On Thu, Nov 28, 2013 at 2:02 AM, sidthesloth notifications@github.com
wrote:

[2013-11-28 20:38] CaryLandholt commented on #53
Can you try again with the latest code?

On Wed, Oct 30, 2013 at 10:11 AM, makc notifications@github.com wrote:

[2013-11-29 00:12] makc commented on #53
still getting loads of errors, e.g.

[code]

[2013-12-08 05:41] MattCowski opened #63 "npm ERR! peerinvalid The package karma does not satisfy its siblings' peerDependencies requirements! ..."
[code]

[2013-12-08 05:43] CaryLandholt commented on #63
Yep. I'm using an edge version of Karma. Even though you see the errors in the console, everything should still work.

On Sat, Dec 7, 2013 at 11:41 PM, Matt Cowski notifications@github.com
wrote:

[2013-12-08 05:46] MattCowski commented on #63
Cool, thanks! :)

[2013-12-08 05:46] #63 closed, assigned to nobody

[2013-12-18 03:50] MattCowski opened #64 "Heroku production"
`heroku create` `git push heroku master`

I get:

[code]

What else should I do to make this app work with heroku?

[2013-12-18 04:15] MattCowski commented on #64
Nevermind, I found the answer here:
http://stackoverflow.com/questions/18423965/mean-stack-win-7-git-push-heroku-master-results-in-sh-bower-not-found-error

[2013-12-18 04:15] #64 closed, assigned to nobody

[2013-12-18 05:52] MattCowski opened #65 "Heroku production"
After `git push heroku master`:

`heroku open` opens the app on http://still-dusk-6074.herokuapp.com/

[code]

Is there anything specific I need to change to use Heroku as production?

[2013-12-18 05:55] CaryLandholt commented on #65
Without knowing your Heroku setup, I really couldn't tell.

What kind of backend are you using?  Node.js, Rails, etc.

Are you trying to push the entire project or only the files necessary for Heroku to run the application?

[2013-12-18 06:02] MattCowski commented on #65
(updated issue ^^)

Not using the backend yet. Just trying to see if _anything_ will show up.
I'm pushing the entire project.

Basically, my question is: What are the steps to get this stock / default AngularFun to run on Heroku? (Just to see the example tabs directives with github / people controller etc)

[2013-12-18 06:05] CaryLandholt commented on #65
You'll need to push the contents of the **dist** folder, which is created after running `grunt prod`.
Heroku will need to be setup to respond with index.html as the default document.  <- I would think this is a default Heroku configuration.

[2013-12-18 06:10] CaryLandholt commented on #65
Only push the contents of dist

On Wed, Dec 18, 2013 at 12:02 AM, Matt Cowski notifications@github.com
wrote:

[2013-12-18 22:43] cve opened #66 "npm install fail on linux"
Hi, I'm trying to run it on my local environment, I have node installed and other requirements, but the npm fails with error included on the screen
![screen](https://f.cloud.github.com/assets/594384/1778515/ada5c35c-6835-11e3-9480-95abdbcaaacc.png)

[2013-12-18 22:45] CaryLandholt commented on #66
I've noticed this happens on Windows machines. Can you confirm you're using Windows?

Try running grunt bower:install at the command line.

On Wed, Dec 18, 2013 at 4:43 PM, cve notifications@github.com wrote:

[2013-12-18 22:46] CaryLandholt commented on #66
Sorry, I just noticed you mentioned Linux. Which distro?

On Wed, Dec 18, 2013 at 4:43 PM, cve notifications@github.com wrote:

[2013-12-18 22:53] cve commented on #66
Kubuntu 13.10

[2013-12-18 22:57] CaryLandholt commented on #66
Can you confirm if grunt bower:install works?

On Wed, Dec 18, 2013 at 4:53 PM, cve notifications@github.com wrote:

[2013-12-18 22:59] cve commented on #66
Hmm, grunt bower:install gives me error that this command not exists in my system, but I've just install it with npm install -g grunt a few minutes ago...

[2013-12-18 23:04] CaryLandholt commented on #66
Ahh. Try npm install -g grunt-cli

On Wed, Dec 18, 2013 at 4:59 PM, cve notifications@github.com wrote:

[2013-12-18 23:07] cve commented on #66
Ok, bower:install works, but now there is another problem:

![screen1](https://f.cloud.github.com/assets/594384/1778730/0725aac0-6839-11e3-8ed4-b13e7b884cca.png)

[2013-12-18 23:09] CaryLandholt commented on #66
Yeah, I'm aware of that issue. You actually can ignore it. Should be good to go.

On Wed, Dec 18, 2013 at 5:07 PM, cve notifications@github.com wrote:

[2013-12-18 23:10] cve commented on #66
Yeah it works! cool :) thank you very much

[2013-12-18 23:10] #66 closed, assigned to nobody

[2013-12-18 23:11] CaryLandholt commented on #66
Awesome!

On Wed, Dec 18, 2013 at 5:10 PM, cve notifications@github.com wrote:

[2014-01-21 14:05] pallix opened #67 "grunt test failing on Linux"
"grunt test" fails on Linux with this error:

Running "karma:unit" (karma) task
Warning: No provider for "framework:jasmine"! (Resolving: framework:jasmine) Use --force to continue.

Aborted due to warnings.

[2014-02-17 19:31] nmathon opened #68 "How to set my own bootstrap.js ?"
I need to modify bootstrap.js in order to wrap angular.bootstrap in a google.load function.
How can I do that ?

[code]

[2014-02-18 08:09] nmathon commented on #68
I found a solution but not sure it's the good one.
I removed 'NGBOOTSTRAP' in shimmer requirements and writed my own bootstrap.js in src/scripts
Is this the right way ?

[2014-02-18 16:20] CaryLandholt commented on #68
You can write your own bootstrap file and register it with the `shimmer` configuration.
Sounds like you might be doing this already.

Create a file called `bootstrap.coffee` or `bootstrap.js` in `src/scripts`.

Then change the `require` value in the `shimmer` configuration to:

[code]

`NGBOOTSTRAP` is a reserved value that corresponds to the following content.

[code]

[2014-02-18 16:36] nmathon commented on #68
Thanks, It works.

[2014-02-18 16:36] #68 closed, assigned to nobody

[2014-04-06 19:19] geeksville commented on #67
I'm totally new to angular/JS but this is failing for me as well...

[2014-04-07 02:03] #67 closed, assigned to nobody

[2014-04-07 02:30] CaryLandholt commented on #53
Install karma globally on Windows.
`npm install -g karma`

[2014-04-07 02:30] #53 closed, assigned to nobody

[2014-06-30 03:22] CaryLandholt commented on #52
See [fatarrow](https://github.com/CaryLandholt/fatarrow)

[2014-06-30 03:22] #52 closed, assigned to nobody

[2014-07-05 03:15] #65 closed, assigned to nobody

[2014-07-05 03:16] CaryLandholt commented on #60
Closing due to inactivity

[2014-07-05 03:16] #60 closed, assigned to nobody

[2014-07-15 01:38] dino- opened #71 "grunt build fatal error"
Trying to follow the README, I encounter this error when issuing any grunt command:

I'm very new to all of this, Angular, web development, these tools like npm and grunt, so please let me know if you need more info about my system (Linux) and versions of things.

[2014-07-16 02:40] CaryLandholt commented on #71
@dino-

Please give it another try

[2014-07-17 15:33] dino- commented on #71
Same thing is happening. I did a fresh clone and followed the instructions in the README. Wondering if there's something cached in my ~, but I have no idea where to look.

[2014-07-17 22:51] CaryLandholt commented on #71
Please try the following:
1. delete `node_modules`
2. `git pull`
3. `npm install`
4. attach a screen shot of the problem, if it doesn't work

[2014-07-18 16:26] dino- commented on #71
I can reproduce it. Starting with nothing downloaded:

... lots and lots of stuff ...

[2014-07-18 16:52] CaryLandholt commented on #71
Hmmm. Ok, what does grunt build --verbose show?

On Fri, Jul 18, 2014 at 11:26 AM, Dino Morelli notifications@github.com
wrote:

[2014-07-18 21:32] dino- commented on #71
A lot of things ending with `...OK` and then:

[2014-07-18 22:24] CaryLandholt commented on #71
Let's go ahead and pair on this one.
Let me know when's a good time.

[2014-07-23 02:42] CaryLandholt commented on #71
I've been able to replicate this on a Windows machine.
Mac works fine.

Still looking into this.

[2014-07-23 03:24] CaryLandholt commented on #71
@dino-, I think I've figured it out, and it's a bizarre one.

When bower is first installed and executed on your machine, it asks if you will grant it rights to track analytics.

Since bower is executed from within grunt, there is no opportunity to reply to this request.

This would be why some machines work and some don't, as you may or may not have bower installed.

So, please try the following.

[2014-07-31 14:48] CaryLandholt commented on #71
@dino- one more thing

try

[code]

[2014-08-08 03:43] CaryLandholt commented on #71
Hi @dino-, I'm closing this bug due to inactivity.
Please let me know if you still have trouble, and I can work with you to resolve it.

Thanks

[2014-08-08 03:43] #71 closed, assigned to nobody

[2015-01-05 03:28] mlhch opened #72 "src/index.html need to be excluded for watch:basic task"
Hi,

src/index.html need to be excluded for watch:basic task, because it should be processed by watch:spaHtml task, in which the template:indexDev will handle the <% %> content

[code]

[2015-01-08 04:42] mlhch opened #73 "'hash:images' in Gruntfile.coffee only 'hash' them, need to 'bust' them too"
For example, if we place a image file to src/images/foo.png or src/styles/images/bar.png, and then we want to reference it in src/index.html or src/styles/styles.less, then bug will appears if we run 'grunt prod'.

Obviously, the foo.png and bar.png was renamed as foo.xxxxxxx.png and bar.xxxxxxx.png, but <img src="images/foo.png" /> in src/index.html and background-image:url(styles/images/bar.png)